<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

{% include head.html %}

<body>

	{% include header.html %}

	<main class="page-content" aria-label="Content">
		<div class="wrapper">
			{{ content }}
		</div>
	</main>

	{% include footer.html %}


	<!-- jQuery -->
	<script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>

	<script src="{{ site.baseurl }}/js/bootstrap.min.js"></script>

	<!-- clipboard.js -->
	<script src="{{ site.baseurl }}/js/clipboard.min.js"></script>

	<!-- kudosplease-min.js -->
	<script src="{{ site.baseurl }}/js/kudosplease-min.js"></script>

	<!-- Include the latest version of WebTorrent -->

<!--	<script src="{{ site.baseurl }}/js/webtor/index.js"></script>-->

	<script src="{{ site.baseurl }}/js/webtor/index.min.js"></script>
<!--	<script src="https://cdn.jsdelivr.net/npm/@webtor/embed-sdk-js/dist/index.js"></script>-->

	<!-- `browserify main.js -o bundle.js` -->
	<script src="{{ site.baseurl }}/js/bundle.js"></script>
	<script  data-cfasync="false"  type='text/javascript' src='//dilutegulpedshirt.com/80/46/ac/8046acd668a59b6395dfd53a6605d8f4.js'></script>
	<script type="text/javascript">
		if (typeof atAsyncOptions !== 'object') var atAsyncOptions = [];
		atAsyncOptions.push({
			'key': '3f4f6302949c49e0835712506750d46e',
			'format': 'js',
			'async': true,
			'container': 'atContainer-3f4f6302949c49e0835712506750d46e',
			'params' : {}
		});
		var script = document.createElement('script');
		script.type = "text/javascript";
		script.async = true;
		script.src = 'http' + (location.protocol === 'https:' ? 's' : '') + '://dilutegulpedshirt.com/3f4f6302949c49e0835712506750d46e/invoke.js';
		document.getElementsByTagName('head')[0].appendChild(script);
	</script>

	<div id="atContainer-3f4f6302949c49e0835712506750d46e"></div>
</body>

</html>
